* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    overflow: hidden;
}

h1 {
    font-family: serif;
    font-style: normal;

    font-size: 16;

}

h2 {
    font-family: serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12;
    color: rgb(0, 4, 255);
    text-align: center;
    line-height: .01;
}

button {
    cursor: pointer;
}

hr {
    border-top: 1px dashed black;
    margin: 10px;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow: hidden;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background:#ff8cf2;
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    height:220px;
    z-index:10;
    text-align: center;
    padding: 20px 0px 0px;
    box-sizing: border-box;
}

.popup-2 .content {
    width: 700px;
    height: 500px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background:#ff8cf2;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    font-size: 13px;
}

.info-button {
    display: flex;
    padding: 20px;
    z-index: 8;
    overflow: hidden;
}

.show-popup {
    width: 50px;
    height: 50px;
    background-color:#ff8cf2;
    border: none;
    border-radius: 50%;
    padding: 10px;
    z-index: 10;
}

.side-panel-open .show-popup {
    display: none;
}

.show-popup:hover {
    box-shadow: 0px 0px 40px 15px #0ff;
}


.popup.active .overlay {
    display: block;  
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

.popup-main {
    background-color: aquamarine;
    padding-bottom: 20px;
}

.index-button {
    transform: rotate(-90deg);
    margin-left: -15px;
}

.side-panel-toggle {
    width: 40px;
    height: 100px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: white;
    background: #ff8cf2;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none; 
    cursor: pointer;
    z-index: 8;

    transform: translate(0px, 50px);
}

.side-panel-toggle:hover {
    box-shadow: 0px 0px 40px 15px #0ff;
    z-index: 4;
}

.side-panel {
    display: initial;
    width: 0px;
    flex-shrink: 0;
    padding-left: 40px;
    color: white;
    background:#ff8cf2;
    border: none;
    z-index:8;
    transition: all 300ms ease-in-out;
}

.side-panel-open .side-panel {
    display: initial;
    width: 90%;
    transition: all 300ms ease-in-out;
}

.side-panel-open .index-container {
    display: flex;
    flex-wrap: wrap;
}

.index-container{
    display: none;
    background-color: #FDFFEB;
    padding: 40px;
    padding-top: 10px;
    height: 100%;
    overflow-y:scroll;
}

.index-item {
    max-width: 30%;
    margin: 10px;
    align-content: center;
}

.index-item:hover {
    cursor: pointer;
}


/* center img in div */
.center {
    display: block;
    margin-left: none;
    margin-right: none;
    width: 100%;
}


/* parallax */

#wrapper {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 3;
	width: 200%;
	height: 4000px;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	background: url(pattern3.png);
}

.starfield {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

.starfield div {
	position: absolute;
	width: 200%; /** Important for scrolling left and right **/
	overflow: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

#starfield1 {
	z-index: 2;
}

#stars1 {
	z-index: 2;
	height: 3000px;
	background: url(pattern2.png);
}

#starfield2 {
	z-index: 1;
}

#stars2 {
	z-index: 1;
	height: 2000px;
	background: url(wallpaper2.png);
}

#object-1 {
    transform: translate(620px,500px);
}

#object-2 {
    transform: translate(160px,300px);
}

#object-3 {
    transform: translate(620px,185px);
}

#object-4 {
    transform: translate(492px,844px);
}

#object-5 {
    transform: translate(500px,81px);
}

#object-6 {
    transform: translate(31px,900px);
}

#object-7 {
    transform: translate(884px,183px);
}

#object-8 {
    transform: translate(239px,923px);
}

#object-9 {
    transform: translate(173px,700px);
}

.object-all:hover {
    cursor: pointer;
}



